{# @var \Sylius\Component\Core\Model\ProductInterface product #}
{# @var \Sylius\Component\Core\Model\ProductVariantInterface variant #}

{% set variant = product|sylius_resolve_variant %}

{% if product.isConfigurable %}
    <div id="product-subscription">
        {{ render(url('webgriffe_back_in_stock_notification_add_subscription')) }}
    </div>
    <div id="notification-overlay" class="ui modal" data-back-in-stock-notification-form-container="true">
        {{ render(url('webgriffe_back_in_stock_notification_add_subscription')) }}
    </div>
{% elseif product.isSimple and (not product.variants.first.isInStock and not product.variants.first.availableOnDemand or not product.variants.first.isAvailable)
    and product.variants.first.isTracked %}
    <div data-back-in-stock-notification-form-container="true">
        {{ render(url('webgriffe_back_in_stock_notification_add_subscription', {'product_variant_code': product.variants.first.code})) }}
    </div>
{% endif %}
